body {
  font-family: 'Courier New', Courier, monospace;
}

.title {
  text-align: center;
  display: inline-block;
  width: 10vw;
  height: 5vh;
  border: solid #9DB5B2 2px;
  padding: 0vh 1vw 1vh 1vw;
  border-radius: 10px 10px;
  margin: 1vh 44.5vw 0.5vh 44.5vw;
  background: #878E99;
  color: #7F6A93;
  font-size: calc(0.65vw + 0.45vh + 0.1vmin);
  overflow: hidden;
  text-shadow: 1px -1px #ccccff;
  box-shadow: 3px -5px #ccccff;
}

.title a {
  color: inherit;
}

.img {
  background: url("https://secure.static.tumblr.com/a63a2270922e863d48215522d9855fe4/ohku10x/4baokckp4/tumblr_static_tumblr_static_aafwb17qfdsgkw8ww4oogwoco_640.gif");
  background-size: 30vw 40vh;
  width: 30vw;
  height: 40vh;
  border-radius: 100px 100px;
  padding: 0vh 0vw 0vh 0vw;
  margin: 2vh 35vw 2vh 35vw;
  border: solid #9DB5B2 2px;
  background-repeat: no-repeat;
}

.medals {
  list-style-type: none;
}

.medals img {
    width: 3vw;
    height: 6vh;
    display: inline-block;
}

.body {
  display: inline-block;
  width: 30vw;
  height: 20vh;
  padding: 1vh 1vw 1vh 1vw;
  margin: 3vh 35.5vw 3vh 35.5vw;
  border: solid #9DB5B2 2px;
  background: #A2C5AC;
  color: #7F6A93;
  border-radius: 20px 20px;
  overflow-y: auto;
  font-size: calc(0.55vw + 0.55vh + 0.4vmin);
}

.scroll1::-webkit-scrollbar-thumb {
  background: #666; 
}

.bio {
  padding: 5vh 0vw 0vh 0vw;
}

body {
  background: url(https://images.unsplash.com/photo-1516339901601-2e1b62dc0c45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=920&q=80);
  /* background-repeat: no-repeat; */
  background-size: 100%;
  
}
table, th, td {
  text-shadow: 1px -1px #ccccff;
  box-shadow: 0.25px -1px #ccccff;
}

tr {
  background-color: #dddddd;
}

table {
  color: inherit;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: block;
  background: #878E99;
  color: #7F6A93;
  font-size: calc(0.65vw + 0.65vh + 0.1vmin);
  opacity: 0.7;  
}

.nav-item {
  float: inherit;
  text-align: center;
}

.nav-item a {
  color: inherit;
}

.nav-heading {
  float: right;
}
