body {
  font-family: 'Courier New', Courier, monospace;
}

.title {
  text-align: center;
  display: inline-block;
  width: 10vw;
  height: 5vh;
  border: solid #fffb96 2px;
  padding: 0vh 1vw 1vh 1vw;
  border-radius: 10px 10px;
  margin: 1vh 44.5vw 0.5vh 44.5vw;
  background: 	#ff71ce;
  color: #01cdfe;
  font-size: calc(0.65vw + 0.45vh + 0.1vmin);
  overflow: hidden;
  text-shadow: 1px -1px #05ffa1;
  box-shadow: 3px -5px #05ffa1;
}

.title a {
  color: inherit;
}

.img img{
  width: 30vw;
  height: 40vh;
  border-radius: 100px 100px;
  padding: 0vh 0vw 0vh 0vw;
  margin: 2vh 35vw 2vh 35vw;
  border: solid #fffb96 2px;
  box-shadow: 1px -1px #05ffa1;
}

.medals {
  list-style-type: none;
}

.medals img {
    width: 3vw;
    height: 6vh;
    display: inline-block;
}

.body {
  display: inline-block;
  width: 30vw;
  height: 20vh;
  padding: 1vh 1vw 1vh 1vw;
  margin: 3vh 35.5vw 3vh 35.5vw;
  border: solid #fffb96 2px;
  background: #ff71ce;
  color: #01cdfe;
  border-radius: 20px 20px;
  overflow-y: auto;
  font-size: calc(0.55vw + 0.55vh + 0.4vmin);
}

.information {
  color: #01cdfe;
  text-shadow: 1px -1px #05ffa1;
}

.bio {
  padding: 5vh 0vw 0vh 0vw;
}

body {
  background: url(https://i.redd.it/5bdk9ixr2b701.gif);
  /* background-repeat: no-repeat; */
  background-size: 100%;
  /* position: fixed;
  overflow-y: scroll; */
  
}
table, th, td {
  text-shadow: 1px -1px #05ffa1;
  box-shadow: 0.25px -1px #05ffa1;
}

tr {
  background-color: #ff71ce;
}

table {
  color: inherit;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: block;
  background: #ff71ce;
  color: #01cdfe;
  font-size: calc(0.75vw + 0.75vh + 0.1vmin);
  opacity: 0.7;  
}

.nav-item {
  float: inherit;
  text-align: center;
}

.nav-item a {
  color: inherit;
}

.nav-heading {
  float: right;
}
